<h1>Inscription</h1>

<%= form_with(model: @user, url: signup_path) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

    <%= check_box("Je suis un vendeur ?", :seller, {checked: true}) %>

  <div class="actions">
    <%= form.submit 'Inscription' %>
  </div>
<% end %>


<div> Vous avez déjà un compte ? </div>

<%= link_to "Je me connecte", "/login" %>